.blogs .blog {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  align-items: center;
}

.blogs .blog:nth-child(2n) {
  flex-direction: row-reverse;
}

.blogs .blog .blog-image {
  width: 500px;
}

.blogs .blog .blog-desc {
  text-align: center;
  padding: 0 100px;
}

@media screen and (max-width: 1400px) {
  .blogs .blog {
    flex-direction: column !important;
    margin: 20px 30px;
  }

  .blogs .blog .blog-desc {
    margin-top: 25px;
  }
}
